.btn3 {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 3%;
    left: 85%;
    background-color: greenyellow;
    border: 1px greenyellow;
    font-family: 'approach mono' ;
    cursor: pointer;
    opacity: 0;
   

}

.btn3:hover {
    
    opacity: 1;
}